html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  .menubar {
    height: 50px;
    border-radius: 0px;
    line-height: 40px;
    margin-left: -10px;
  }

  .pipe {
    font-size: 20pt;
    font-weight: 300;
    margin-left: 20px;
    margin-right: 20px;
  }

  .globo {
    font-size: 16pt;
  }

  .titulo {
    font-size: 16pt;
  }

  #viewDiv {
    height: 95%;
    margin-top: -20px;
  }


  
  